* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 320px) {
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px;
  }

  h1,
  h2 {
    text-align: center;
    margin-bottom: 25px;
  }

  .input-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    justify-content: space-between;
  }

  .input-section label {
    font-weight: bold;
    padding-inline: 8px;
    margin-top: 20px;
  }

  input,
  select {
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 1rem;
    min-width: 100%;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  button {
    padding: 8px 10px;
    margin-top: 20px;
    align-items: center;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }

  #add-btn {
    display: flex;
    justify-content: flex-end;
    padding: 10px 50px;
    font-size: 1.25rem;

  }

  .filters button {
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;
    min-width: 100%;
  }

  th,
  td {
    border: 1px solid #c5c1c1;
    padding-inline: 5px;
    font-weight: 600;
  }

  th {
    background-color: #4caf50;
  }

  tfoot td {
    font-weight: bold;
    background-color: #4caf50;
  }

  .delete-btn {
    cursor: pointer;
    background-color: #f44336;
  }
}

/* body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 30px;
}

.input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.input-section label {
  font-weight: bold; 
}

input,
select {
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.expenses-list {
  margin: 20px;
}

#expense-chart {
    margin-top: 30px;
}

canvas {
  height: 10vh;
  width: 10vw;
margin: 20px 16px;
}

.filters button {
  margin: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tfoot td {
  font-weight: bold;
}

.delete-btn {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */
